<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="avishayhajbi.toastplugin"
    version="1.0.2">
    <name>ToastPlugin</name>
    <description>Sample PhoneGap toast Plugin</description>
    <license>avishayhajbi</license>
    <keywords>phonegap,toast</keywords>

   <name>toast</name>

   <description>
     This plugin allows to use native toast.
   </description>

  <engines>
    <engine name="cordova" version=">=1.7.0" />
    <engine name="cordova" version="<1.8.1" />
</engines>

<asset src="www/toast.js" target="js/toast.js" /> 
   <js-module src="www/toast.js" name="toast">
      <clobbers target="toast" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="ToastPlugin">
            <param name="android-package" value="avishayhajbi.toastplugin.ToastPlugin" />
         </feature>
      </config-file>
      <source-file src="src/Mytoast.java" target-dir="src/avishayhajbi/toastplugin" />
      <source-file src="src/ToastPlugin.java" target-dir="src/avishayhajbi/toastplugin" />
   </platform>
</plugin>
